{% extends('@Dash/layout.html.twig') %}

{% block body %}


<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-12">
            <a class="btn btn-primary btn-cons m-t-10" href="#">Ingresar Formato</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p><embed src="{{asset('assets/documentos/COMUNICACIÓNDEPOLÍTICAYOBJETIVOS.pdf')}}" width="1050" height="650"></p>
        </div>
    </div>

</div>





{% endblock %}
