{% extends('@Dash/layout.html.twig') %}

{% block body %}
	
	<div class="col-lg-12">
        <p><embed src="{{asset('assets/documentos/Fecha-de-Publicación.pdf')}}" width="1050" height="650"></p>
	</div>




{% endblock %}