{% extends('@Dash/layout.html.twig') %}

{% block body %}


<div class="col-lg-12">
<h2>Datos del observador</h2>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    {{ form_end(edit_form) }}





</div>





{% endblock %}
