{% extends('@Dash/layout.html.twig') %}

{% block body %}


<div class="col-lg-12">
    <a class="btn btn-primary btn-cons m-t-10" href="{{ path('newrepo') }}">Ingresar Reporte</a>
    {% for rep in reportes %}
        <a class="btn btn-success btn-cons m-t-10" href="{{ path('editrepo', {'id': rep.idreporte1}) }}">Ingresar Reporte {{ rep.idreporte1 }}</a>
    {% endfor %}
    <p><embed src="{{asset('assets/documentos/Reporte-aspectos-ambientales.pdf')}}" width="1050" height="650"></p>


</div>





{% endblock %}
