{% extends('@Dash/layout.html.twig') %}

{% block body %}


<div class="col-lg-12">
    <h2>Datos del observador</h2>
    <hr>


    <div class="row">
        <div class="col-lg-3">
            Nombre del Observador: {{ nombre }}
        </div>
    </div>
    {% endfor %}
    <hr>
    <h2>Identificacón del hallazgo</h2>

    <div class="">
    </div>







</div>





{% endblock %}
