{% extends('@Dash/layout.html.twig') %}

{% block body %}

    <div class="col-lg-12">
        <a class="btn btn-default btn-cons m-t-10" href="{{ path('newlddsa') }}"><i class="fa fa-plus"> Insertar</i></a>

        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-bordered" border="2">

                        <tr>
                            <td>Clave</td>
                            <td>Nombre del documento</td>
                            <td>No.revisión</td>
                            <td>No.copia</td>
                            <td>Fecha ultima de revisión</td>
                            <td>Procesos y Áreas</td>

                        </tr>


                            </tr>




                    </table>



                </div>


            </div>
        </div>
    </div>
{% endblock %}